html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    line-height: 1;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    height: 200vh;
}

.left-container {
    width: 360px;
    height: 100%;
    background-color: rgb(24, 24, 24);
    z-index: 9;
    position: fixed;
    font-size: 14px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.photo {
    height: 230px;
    width: 45%;
    margin-bottom: 10px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

.photo-profil {
    margin-top: 20px;
    text-align: center;
}

.contact-btn {
    width: 50%;
    background-color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
}

.contact-btn:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.right-container{
    position: absolute;
    left: 360px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}


#you {
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}


p,
li {
    line-height: 200%;
    font-size: medium;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

#darkmode {
    background: black;
    color: white;
}

#darkmode .menu {
    background: black;
    color: white;
}

#darkmode .title {
    background: black;
    color: white;
}

#darkmode .left-container {
    background-color: rgba(22, 22, 22, 0.774);
}

#darkmode .top-bar {
    background: black;
    position: fixed;
}

#darkmode .left-container {
    background-color: black;
}

#darkmode .right-container {
    background-color: black;
}

#darkmode .contact-btn {
    background-color: black;
    box-shadow: 5px gray;
    color: whitesmoke;
}

#darkmode .contact-btn:hover {
    background-color: rgb(43, 43, 43);
    color:  (white);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    cursor: pointer;
}